  {% extends 'base.html' %}
  {% load static %}
  {% block title %}Welcome creators --Blog Square--{% endblock title %}
  
  {% block body %}
    <!-- Hero Section-->
    <section style="background: url({% static 'img/home_main.jpg' %}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Blog Square - The Ultimate Knowledge Square</h1><a href="#" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="h1">We think...</h1>
            <p class="text-big"><strong>The best way to apply knowledge starts with creating it first.</strong> Just grab a tea or coffee with you and start typing, then you will see the content will automatically complete by showcasing your knowledge in one place.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        {% for blog in trendingblogs %}
        <div class="row d-flex align-items-stretch" >
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category">
                    <a href="{% url 'categorysearch' blog.blog_category %}">{{blog.blog_category}}</a>
                  </div>
                  <a href="{% url 'blog' blog.blog_id %}">
                    <h2 class="h4">{{blog.blog_title}}</h2></a>
                </header>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{blog.blog_author.pic.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{blog.blog_author.username}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i>{{blog.blog_creation_date|timesince}}</div>
                  <div class="comments"><i class="icon-comment"></i>{{blog.num_of_comments}}</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="{{blog.blog_thumbnail.url}}" alt="Blog Image" style="width:300px;"></div>
        </div>
        <!-- Post        -->
        {% endfor %}

      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>The best way to gain knowledge is by reading it. So start reading some of our best articles and grow your imaginations to the next level.</h2>
            <a href="{% url 'blogs' pagenum=1 %}" class="hero-link">View Articles</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Because we care for what you see...</p>
        </header>
        <div class="row">
          {% for post in latestblogs%}
          <div class="post col-md-4" style="max-width:18rem;">
            <div class="post-thumbnail"><a href="{% url 'blog' post.blog_id %}}"><img src={{post.blog_thumbnail.url}} alt="blog title image" class="img-fluid" ></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{post.blog_creation_date|timesince}}</div>
                <div class="category"><a href="{%url 'categorysearch' post.blog_category%}">{{post.blog_category}}</a></div>
              </div><a href="{%url 'blog' post.blog_id%}">
                <h3 class="h4">{{post.blog_title}}</h3></a>
            </div>
          </div>
          {%endfor%}
     
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="#">
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src={% static 'img/tech.png' %} alt="..." class="img-fluid" style = "height: 200px; width: 400px">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src={% static 'img/health.png' %} alt="..." class="img-fluid" style = "height: 200px; width: 400px">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src={% static 'img/food.png' %} alt="..." class="img-fluid" style = "height: 200px; width: 400px">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src={% static 'img/business.png' %} alt="..." class="img-fluid" style = "height: 200px; width: 400px">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    {% endblock body %}
    <!-- Page Footer-->
   {% block footer %}
   <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h3> Blog Square </h3>
            </div>
            <div class="contact-details">
              <p><strong>Developers:</strong></p>
              <p>Abdeali Stationwala &#38; Brij Bhushan Tiwari</p>
              <p>Phone: Unavailable</p>
              <p>Email: <a href="mailto:info@company.com">blogsquare.official@gmail.com</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">
              <ul class="list-unstyled">
                <li> <a href="#">My Account</a></li>
                <li> <a href="#">Add Listing</a></li>
                <li> <a href="#">Pricing</a></li>
                <li> <a href="#">Privacy &amp; Policy</a></li>
              </ul>
              <ul class="list-unstyled">
                <li> <a href="#">Our Partners</a></li>
                <li> <a href="#">FAQ</a></li>
                <li> <a href="#">How It Works</a></li>
                <li> <a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="latest-posts">
              {%for post in latestblogs%}
                <a href="{%url 'blog' post.blog_id %}">
                <div class="post d-flex align-items-center">
                  <div class="image"><img src="{{post.blog_thumbnail.url}}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{post.blog_title}}</strong><span class="date last-meta">{{post.blog_creation_date|timesince}}</span></div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function(e){
          $('.date').each(function(){
            var hours = $(this).text().split(',')[0];
            $(this).html(`${hours} ago`);
          })
        })
      </script>

      {% endblock footer %}