{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Posts --username--</title>

  <!-- Bootstrap core CSS -->
  <link href={% static '/connect/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href={% static 'vendor/font-awesome/css/font-awesome.min.css' %} rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href={% static 'connect/css/clean-blog.min.css' %} rel="stylesheet">
  <style>
      .user_image_AllBlogs{
      width: 150px;
      height: 150px;
      border:2px solid #fff;
      -moz-box-shadow: 0px 6px 5px #ccc;
      -webkit-box-shadow: 0px 6px 5px #ccc;
      box-shadow: 0px 6px 5px #ccc;
      -moz-border-radius:190px;
      -webkit-border-radius:190px;
      border-radius:190px;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{%url 'home' %}">Blog Square</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'blogs' pagenum=1 %}">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static '/img/myBlogs2.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <img class ="user_image_AllBlogs" src="{% static '/img/abdeali004.jpg' %}" class="rounded-circle" alt="Cinque Terre" >
            <h2>{{request.user}}</h2>
            <span class="subheading"><b><u>About Me</u></b></span>
            <span class="subheading">I am a programmer and a backend developer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
  <center><h1><u>Blogs Contribution</u></h1></center>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-2 mx-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Blogs Liked">
      <i class="fa fa-heart" style="color:#800909;"></i> 100
    </div>
    <div class="col-md-2 mx-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Blogs Visited">
      <i class="fa fa-eye"></i> 100
    </div>
    <div class="col-md-2 mx-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Blogs Created">
       <i class="fa fa-pencil" style="color:#093f80;"></i> 100
    </div>
    <div class="col-md-2 mx-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Blogs Commented">
      <i class="fa fa-comments" style="color:#4c0d73;"></i> 100
    </div>
    <div class="col-md-2 mx-auto" data-bs-toggle="tooltip" data-bs-placement="top" title="Stars Achieved">
      <i class="fa fa-star" style="color:#6b0742;"></i> 100
    </div>
  </div>
  <hr>
  <br>
  <br>
  <center><h1><u>Recent Blogs</u></h1></center>
  <hr>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {%for blog in myblogs%}
          <div class="post-preview">
            <a href="{%url 'blog' blog.blog_id %}">
              <h2 class="post-title">
                {{blog.blog_title}}
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{blog.blog_author.username}}</a>
              on {{blog.blog_creation_date}}</p>
          </div>
          <hr>
        {%endfor%}
        <!-- <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div>
        <hr> -->
        <!-- Pager -->
        {%if not allposts %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{%url 'userBlogs' 1 %}" style = "color:black;">All Posts &rarr;</a>
        </div>
        {%else%}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{%url 'userBlogs' 0 %}" style = "color:black;">Fewer Posts &rarr;</a>
        </div>
        {%endif%}
      </div>
    </div>
    <br>
    <br>
    <center><h2><u>CONNECT</u></h2></center>
  <br>
  <hr>
  <div class="row justify-content-center">
    <div class="col-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram link">
      <a href=""><i class="fa fa-facebook-square fa-3x" style="color:#030a52;"></i></a>
    </div>
    <div class="col-1 " data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook link">
      <a href=""><i class="fa fa-instagram fa-3x" style="color:#c400be;"></i></a>
    </div>
  </div>
  <hr>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         
          <p class="copyright text-muted">Copyright &copy; <a href = "{%url 'home' %}">Blog Square</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src={% static 'connect/vendor/jquery/jquery.min.js' %}></script>
  <script src={% static 'connect/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>

  <script src={% static 'connect/js/clean-blog.min.js' %}></script>

</body>

</html>
