{% extends 'base.html' %}
{% load static %}

{% block title %}Tagline by username{% endblock title %}

{% block body %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{blog.blog_thumbnail.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    <a href="#">Business</a><a href="#">Financial</a>
                  </div>
                </div>
                <h1>{{blog.blog_title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{blog.blog_author.pic.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{blog.blog_author.username}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>{{blog.blog_creation_date|timesince}}</div>
                    <div class="views"><i class="icon-eye"></i>{{blog.blog_views}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{blog.num_of_comments}}</div>
                  </div>
                </div>
                <div class="post-body">
                  <h2>Hello users to the company.</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione quis perspiciatis deleniti accusantium

                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

                  Someone famous in Source Title
                  quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea iusto numquam veritatis, officiis. Accusantium optio minus, voluptatem? Quia reprehenderit, veniam quibusdam provident, fugit iusto ullam voluptas neque soluta adipisci ad.
                  </p>
                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <center>
                <div style="margin-top:30px">
                  <i id="thumbsup" class="fa fa-thumbs-up" style="font-size:50px;padding: 0px 20px;color:gray;"></i>
                  <i id="thumbsdown" class="fa fa-thumbs-down fa-flip-horizontal" style="font-size:50px;padding: 0px 20px;color:gray;"></i>
                <!-- </div>
                <div> -->
                  <br>
                  <span id="upvote" style="font-size:25px;padding: 0px 30px;color:gray;" >{{blog.blog_upvote}}</span>
                  <span id="downvote" style="font-size:25px;padding: 0px 30px;color:gray;">{{blog.blog_downvote}}</span>
                </div>
                </center>
                
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a href="#" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div></a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>I Bought a Wedding Dress.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
          
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{blog.num_of_comments}})</span></h3>
                  </header>
                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form id="form" action="#" class="commenting-form">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input type="text" name="username" value="{{blog.blog_author.username}}" id="username" placeholder="Name" class="form-control" disabled>
                      </div>
                      <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button id = "addcomment" type="button" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          {% comment %} <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div> {% endcomment %}
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            {%for post in latest_posts %}
              <div class="blog-posts"><a href="{%url 'blog' post.blog_id%}">
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{post.blog_thumbnail.url}}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{post.blog_title}}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> {{post.blog_views}}</div>
                      <div class="comments"><i class="icon-comment"></i>{{post.num_of_comments}}</div>
                    </div>
                  </div>
              </div>
            {%endfor%}

          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <script>
      $(document).ready(function(e){
        $.ajax({
          url: "{% url 'getcomment' blog.blog_id %}",
          method:"GET",
          success:function(data){
          var output = "";
          for (i=data.length-1;i>=0;i--){
              output =` <div class="comment">
                        <div class="comment-header d-flex justify-content-between">
                          <div class="user d-flex align-items-center">
                            <div class="image"><i class="fa fa-arrow-right"></i></div>
                            <div class="title"><strong>${data[i].comment_author_id}</strong><span class="date">${data[i].comment_creation_date}</span></div>
                          </div>
                        </div>
                        <div class="comment-body">
                          <p>${data[i].comment_content}</p>
                        </div>
                      </div>`
      
              $('.post-comments').append(output);
          }
          }
        });

        $.ajax({
          url:"{%url 'uservotes' %}",
          method:"POST",
          data:{
            csrfmiddlewaretoken:"{{csrf_token}}",
            blog_id:"{{blog.blog_id}}",
          },
          success:function(data){
            if (data.like == true){
              $('#thumbsup').css('color','skyblue');
            }
            else if (data.dislike == true){
              $('#thumbsdown').css('color','skyblue');
            }
            console.log(data)
          }
        })
      
          
          $('#addcomment').click(function(){
            //e.preventDefault();
            var user = $('#username').val();
            var usercomment = $('#usercomment').val();
            var csr = "{{csrf_token}}";
            $.ajax({
              url: "{% url 'savecomment' blog.blog_id %}",
              method:"POST",
              data:{
                user:user,
                usercomment:usercomment,
                csrfmiddlewaretoken:csr
              },
              success:function(data){
                form.reset();
                var output = "";
                output =` <div class="comment">
                        <div class="comment-header d-flex justify-content-between">
                          <div class="user d-flex align-items-center">
                            <div class="image"><i class="fa fa-arrow-right"></i></div>
                            <div class="title"><strong>${data.user}</strong><span class="date">${data.date}</span></div>
                          </div>
                        </div>
                        <div class="comment-body">
                          <p>${data.comment}</p>
                        </div>
                      </div>`
                  
              $('.post-comments').append(output);
              //for updating commentcount
              var commentcount = $('.no-of-comments').text();
              commentcount = commentcount.split('(')[1].split(')')[0];
              var count = parseInt(commentcount,10) + 1;
              $('.no-of-comments').replaceWith(`<span class="no-of-comments">(${count})</span>`);
              }
            });

            
          })
          $('#thumbsup').click(function(){
                var plus = true;
                var color = $('#thumbsup').css('color');
                if (color == "rgb(135, 206, 235)"){
                  $('#thumbsup').css('color',"gray");
                  plus = false;
                }
                else{
                  $('#thumbsup').css('color',"skyblue");
                  $('#thumbsdown').css('color','gray');
                }

                $.ajax({
                  url:"{%url 'likes&dislikes' %}",
                  method:"POST",
                  data:{
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    blogid:"{{blog.blog_id}}",
                    like: true,
                    plus:plus,
                  },
                  success:function(data){
                      $('#upvote').replaceWith(`<span id="upvote" style="font-size:25px;padding: 0px 30px;color:gray;" >${data.upvote}</span>`);
                    }
                })
            })

            $('#thumbsdown').click(function(){
                var plus = true;
                var color = $('#thumbsdown').css('color');
                if (color == "rgb(135, 206, 235)"){
                  $('#thumbsdown').css('color',"gray");
                  plus = false;
                }
                else{
                  $('#thumbsdown').css('color',"skyblue");
                  $('#thumbsup').css('color','gray');
                }

                $.ajax({
                  url:"{%url 'likes&dislikes' %}",
                  method:"POST",
                  data:{
                    csrfmiddlewaretoken:"{{csrf_token}}",
                    blogid:"{{blog.blog_id}}",
                    like: false,
                    plus:plus,
                  },
                  success:function(data){
                    $('#downvote').replaceWith(`<span id="downvote" style="font-size:25px;padding: 0px 30px;color:gray;" >${data.downvote}</span>`)
                  }
                })
            })

      })
      </script>
  {% endblock body %}